@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To KhumaloCraft</h1>

    <h3 ">Browse Our Selection of the best quality handcrafted goods</h3>
    <br>
    <br>
    <br>

    <h3>Everything is made locally and that is to celebate the culture that we have</h3>
    <br>
    <br>
    <br>

    <h3>Start shopping now after you register and grow this community</h3>

    
</div>
