@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>We take your privacy very seriously.</p>

<p>We will make use of the highest quality protection of your data as you browse the website</p>
